<ion-content color="light">
  <ion-list [inset]="true">
    <ion-item>
      <ion-input label="First Name" labelPlacement="floating" [value]="account.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Last Name" labelPlacement="floating" [value]="account.lastName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Email" labelPlacement="floating" type="email" [value]="account.email" [disabled]="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-toggle>
        <ion-label>Allow Notifications</ion-label>
        <ion-note color="medium">Unsubscribe at any time</ion-note>
      </ion-toggle>
    </ion-item>
  </ion-list>

  <ion-note color="medium" class="ion-margin-horizontal">
    Your account information will be kept anonymous and will only be used to improve the reliability of our products.
  </ion-note>

  <ion-button expand="block" color="primary" class="ion-margin vertical">Guardar</ion-button>
</ion-content>