<ion-item button detail="true">
  <ion-label>
    <h3>Taza Chocolate</h3>
    <p>Azul Cobalto y Amarillo Solar</p>
  </ion-label>
  <ion-note slot="end">2</ion-note>
</ion-item>

<ion-item button detail="true">
  <ion-label>
    <h3>Ramen</h3>
    <p>Carbon Oscuro para los tazones y verde musgo para las cucharas</p>
  </ion-label>
  <ion-note slot="end">2</ion-note>
</ion-item>

<ion-item button detail="true">
  <ion-label>
    <h3>Tonos Off White</h3>
    <p></p>
  </ion-label>
  <ion-note slot="end">6</ion-note>
</ion-item>
